# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.9
# Updated: 01-02-2022
# Location: Atc.Rest.ApiGenerator.CodingRules
# Distribution: DotNet6
# Inspired by: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

##########################################
# Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

# AsyncFixer
# http://www.asyncfixer.com


# Asyncify
# https://github.com/hvanbakel/Asyncify-CSharp


# Meziantou
# https://www.meziantou.net/enforcing-asynchronous-code-good-practices-using-a-roslyn-analyzer.htm


# Microsoft - Code Analysis
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/


# Microsoft - Compiler Errors
# https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/


# SecurityCodeScan
# https://security-code-scan.github.io/


# StyleCop
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers


# SonarAnalyzer.CSharp
# https://rules.sonarsource.com/csharp


##########################################
# Custom - Code Analyzers Rules
##########################################
dotnet_diagnostic.CA1031.severity = none         # Do not catch general exception types
dotnet_diagnostic.CA1062.severity = none         # Validate arguments of public methods
dotnet_diagnostic.CA2007.severity = none         # Consider calling ConfigureAwait on the awaited task

dotnet_diagnostic.MA0004.severity = none         # Use Task.ConfigureAwait(false)

dotnet_diagnostic.S1075.severity = none          # Refactor your code not to use hardcoded absolute paths or URIs