# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.0
# Updated: 25-09-2023
# Location: sample
# Distribution: DotNet8
# Inspired by: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

##########################################
# Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

# AsyncFixer
# http://www.asyncfixer.com


# Asyncify
# https://github.com/hvanbakel/Asyncify-CSharp


# Meziantou
# https://www.meziantou.net/enforcing-asynchronous-code-good-practices-using-a-roslyn-analyzer.htm


# Microsoft - Code Analysis
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/


# Microsoft - Compiler Errors
# https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/


# Microsoft - FxCop
# https://github.com/dotnet/roslyn-analyzers


# SecurityCodeScan
# https://security-code-scan.github.io/


# StyleCop
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers


##########################################
# Custom - File Extension Settings
##########################################


##########################################
# Custom - Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

dotnet_diagnostic.CA2007.severity = none            # Consider calling ConfigureAwait.
dotnet_diagnostic.CA2016.severity = none            # Forward the CancellationToken parameter to methods that take one - False-Positive

dotnet_diagnostic.MA0004.severity = none            # Consider calling ConfigureAwait.
dotnet_diagnostic.MA0040.severity = none            # Forward the CancellationToken parameter to methods that take one - False-Positive

dotnet_diagnostic.S3267.severity = none             # Loop could be simplified. LINQ Expression.